@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1669436214251') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  /* Project id  */
  font-family: "iconfont";
  content: "\e743";
}

.icon-cart-Empty-fill:before {
  /* Project id  */
  font-family: "iconfont";
  content: "\e77a";
}

